:root {
    --header-color: #2b2b2b;
    --break-header-color: #212121;
    --background-color: #191919;
    --header-link-color: rgb(78, 78, 78);
    --text-color: white;
    --link-color: lightgray;
}