:root {
    --bgcolor: white;

    --dmcrcolor: rgb(150, 50, 50);
    --lfcolor: rgb(255, 255, 100); 
    --cfcolor: rgb(150, 101, 55);
    --tepcolor: rgb(70, 110, 170);
}

body, html {
    background-color: var(--bgcolor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.mdisplay {
    display: none;
}

.mdisplay:target {
    display: block;
}

p {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

#navbar {
    width: 100%;
    margin: 0;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.content {
    text-align: center;
    height: 90%;
    width: 64%;
    float: right;
    margin: 0;
    padding: 0%;
}

.sidebar {
    display: inline-block;
    background-color: white;
}

.navbarBtn {
    border-bottom: 5px solid black;
    background-color: black;
    color: white;
    background-image: linear-gradient(360deg, black, transparent);
    border-bottom: 5px solid grey;
    transition: border-bottom-color 0.5s ease, background-color 0.5s ease;
}   

.navbarBtn:hover {
    border-bottom: 5px solid rgb(193, 193, 193);
    background-color: rgb(193, 193, 193);
}

#dmcr:hover {
    border-bottom-color: var(--dmcrcolor);
    background-color: var(--dmcrcolor);
}

#lf:hover {
    border-bottom-color: var(--lfcolor);
    background-color: var(--lfcolor);
}

#cf:hover {
    border-bottom-color: var(--cfcolor);
    background-color: var(--cfcolor);
}

#tep:hover {
    border-bottom-color: var(--tepcolor);
    background-color: var(--tepcolor);
}

/* 
.floatRight {
    float: right; 
}
*/

.dots {
    display: flex;
    justify-content: center;
    width: 70%;
}

.dot {
    cursor: pointer;
    height: 18px;
    width: 18px;
    background-color: #333;
    border-radius: 50%;
    transition: background-color 0.5s ease;
    display: inline-block;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.dot:hover {
    background-color: #666;
}

.dot.active  {
    background-color: #999;
}

#navbar a {
    font-size: 18px;
    display: inline;
    padding-left: 3%;
    padding-right: 3%;
    padding: 1%;
}

#footer {
    width: 100%;
    background-color: lightgray;
    bottom: 0;
    padding: 0.5%;
}

#main {
    width: 100%;
}

.sidebar {
    border-right: 2px solid gray;
    width: 35%;
    height: 100%;
    margin: 0%;
}

.sidebar h1 {
    text-align: center;
    margin-bottom: 35%;
}

.sidebar a {
    display: block;
    text-align: center;
    margin: 2%;
    font-size: 150%;
}

.screenshot {
    width: 640;
    height: 480;
}

#footer {
    text-align: center;
}

.imgSlide img, .imgSlide video {
    user-select: none;
    width: 70%;
    height: 60%;
}

#btncontainer {
    display: flex;
    justify-content: space-around;
}

.carouselbtn {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 50%;
}

.carouselbtn:hover {
    color: #333;
    background-color: #eee;
}

#navbar img {
    width: 48px;
    height: 48px;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
