@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Kanit:ital@0;1&display=swap'); /* Kanit(Normal, Italic) and Josefin Sans (Bold, Bold Italic)*/

/* 
    Code written by: ryker
*/

:root {
    --header-color: #2b2b2b;
    --break-header-color: #212121;
    --background-color: #191919;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191919;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1, h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 45pt;
}

p {
    font-size: 15pt;
}

a {
    text-decoration: none;
    color: lightgray;
    font-size: 15pt;
    transition: color 0.5s;
}

a:hover {
    color: white;
}

#icon {
    width: 65px;
    height: 65px;
    margin-left: 2%;
    margin-right: 2%;
}

#header {
    height: 15%;
    width: 100%;
    background-color: var(--header-color);
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    border-bottom: var(--header-color) solid 1px;
    transition: all 0.5s;
}

#header a {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 28pt;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(78, 78, 78);
}

#header a:hover {
    color: white;
}

#header:hover {
    border-width: 10px;
}

#header h3 {
    color: white;
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

#hero {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--break-header-color) solid 3px;
}

#hero h1 {
    margin: 0;
    margin-top: 7.5%;
    padding: 1%;
    padding-bottom: 0;
    font-size: 56pt;
    background-color: var(--break-header-color);
    color: white;
}

.breakHeader {
    background-color: var(--break-header-color);
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 20%;
    margin-bottom: 20%;
    border-top: var(--header-color) solid 1px;
    border-bottom: var(--header-color) solid 1px;
}

.breakHeader h2 {
    margin-bottom: 0;
    margin-top: 2%;
}

.breakHeader p, .breakHeader a {
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    font-style: italic;
}

#gamesList {
    display: flex;
    justify-content: center;
    text-align: center;
}

.game {
    width: 190px;
    margin: 2% 4% 2% 2%;
    padding-top: 2%;
    border: var(--background-color) 3px solid;
    border-radius: 20px;
    background-color: var(--header-color);
    transition: all 0.5s;
}

.game img {
    width: 128px;
    margin: 0 auto;
    margin-bottom: 10%;
    display: block;
    max-width: 190;
}

.game a, .game p {
    font-style: normal;
    font-weight: bold;
}

#contactList {
    display: flex;
    justify-content: center;
    text-align: center;
}


#footer {
    color: white;
    font-size: 18pt;
    background-color: var(--break-header-color);
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--header-color) solid 1px;
}

#footer p {
    margin: 0;
    padding: 0;
}

.dmcr:hover {
    background-color: rgb(139, 79, 0);
}

.lf:hover {
    background-color: rgb(207, 124, 0);
}

.cf:hover {
    background-color: rgb(255, 145, 0);
}

.tep:hover {
    background-color: rgb(0, 56, 139);
}

.eye:hover {
    background-color: rgb(0, 134, 52);
}

.twitter:hover {
    background-color: rgb(1, 119, 155);
}

.youtube:hover {
    background-color: rgb(134, 0, 0);
}

.slideshow {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    transition: all 0.75s;
    opacity: 1;
}

.slideshowFadeIn img {
    opacity: 1;
}

.slideshowFadeOut img {
    opacity: 0;
}

#nav {
    display: flex;
    position: absolute;
    right: 5%;
}