@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Kanit:ital@0;1&display=swap'); /* Kanit(Normal, Italic) and Josefin Sans (Bold, Bold Italic)*/

/* 
    Code written by: ryker
*/

:root {
    --header-color: #2b2b2b;
    --break-header-color: #212121;
    --background-color: #191919;
    --header-link-color: rgb(78, 78, 78);
    --text-color: white;
    --link-color: lightgray;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1, h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 45pt;
}

p {
    font-size: 15pt;
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 15pt;
    transition: color 0.5s;
}

a:hover {
    color: var(--text-color);
}

#icon, #gameIcon { /* gameIcon is the same but not linked to a hover animation */
    width: 65px;
    height: 65px;
    margin-left: 2%;
    margin-right: 2%;
}

#header {
    height: 15%;
    width: 100%;
    background-color: var(--header-color);
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    border-bottom: var(--header-color) solid 1px;
    transition: all 0.5s;
}

#header a {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 28pt;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--header-link-color);
}

#header a:hover {
    color: var(--text-color);
}

#header:hover {
    border-width: 10px;
}

#header h3 {
    color: var(--text-color);
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

#hero {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--break-header-color) solid 3px;
}

#hero h1 {
    margin: 0;
    margin-top: 7.5%;
    padding: 1%;
    padding-bottom: 0;
    font-size: 56pt;
    background-color: var(--break-header-color);
    color: var(--text-color);
    box-shadow: -10px 11px 5px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 11px 5px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 11px 5px -7px rgba(0,0,0,0.75);
}

.breakHeader {
    background-color: var(--break-header-color);
    color: var(--text-color);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 20%;
    margin-bottom: 20%;
    border-top: var(--header-color) solid 1px;
    border-bottom: var(--header-color) solid 1px;
}

.breakHeader h2 {
    margin-bottom: 0;
    margin-top: 2%;
    text-shadow: -7px 4px 9px rgba(0,0,0,1);
}

.breakHeader p, .breakHeader a {
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    font-style: italic;
    text-shadow: -7px 4px 9px rgba(0,0,0,1);
}

#gamesList {
    display: flex;
    justify-content: center;
    text-align: center;
}

.game {
    width: 190px;
    margin: 2% 4% 2% 2%;
    padding-top: 2%;
    border: var(--background-color) 3px solid;
    border-radius: 20px;
    background-color: var(--header-color);
    transition: all 0.5s;
    box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
}

.game img {
    width: 128px;
    margin: 0 auto;
    margin-bottom: 10%;
    display: block;
    max-width: 190;
}

.game a, .game p {
    font-style: normal;
    font-weight: bold;
    text-shadow: none;
}

#contactList {
    display: flex;
    justify-content: center;
    text-align: center;
}


#footer {
    color: var(--text-color);
    font-size: 18pt;
    background-color: var(--break-header-color);
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--header-color) solid 1px;
}

#footer p {
    margin: 0;
    padding: 0;
}

.dmcr:hover {
    background-color: rgb(139, 79, 0);
}

.lf:hover {
    background-color: rgb(207, 124, 0);
}

.cf:hover {
    background-color: rgb(255, 145, 0);
}

.tep:hover {
    background-color: rgb(0, 56, 139);
}

.eye:hover {
    background-color: rgb(0, 134, 52);
}

.twitter:hover {
    background-color: rgb(1, 119, 155);
}

.youtube:hover {
    background-color: rgb(134, 0, 0);
}

.steam:hover {
    background-color: rgb(0, 42, 104);
}

.moddb:hover {
    background-color: rgb(156, 0, 0);
}

.discord:hover {
    background-color: rgb(77, 137, 216);
}

.slideshow {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    transition: all 0.75s;
    opacity: 1;
}

.slideshowFadeIn img {
    opacity: 1;
}

.slideshowFadeOut img {
    opacity: 0;
}

#nav {
    display: flex;
    position: absolute;
    right: 5%;
}

#screenshots {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

#screenshots a {
    padding-left: 1%;
    padding-right: 1%;
}

.screenshot {
    width: 400px;
    height: 280px;
    box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
}

.download {
    width: 320px;
    height: 128px;
    border: var(--background-color) 3px solid;
    border-radius: 20px;
    background-color: var(--header-color);
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    transition: background-color 0.5s;
    box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
}

.download img {
    width: 80px;
    height: 80px;
    float: left;
    margin: 3%;
    padding: 0;
}

.download p {
    float: right;
    font-style: normal;
    font-weight: bold;
    font-size: 20pt;
    margin: 3%;
    padding: 0;
    text-shadow: none;
}

#downloadList {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.discord {
    width: 50%;
    height: 215px;
    border: var(--background-color) 3px solid;
    border-radius: 20px;
    background-color: var(--header-color);
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s; 
    box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 11px 17px 3px rgba(0,0,0,0.75);
}

.discord img {
    width: 215px;
    height: 215px;
    margin: 0;
    padding: 0;
}

.discord p {
    font-style: normal;
    font-weight: bold;
    color: var(--text-color);
    font-size: 24pt;
    padding: 0;
    margin: 0;
    text-shadow: none;
}

#discordList {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

button {
    cursor: pointer;
}

#top {
    border: none;
    background-color: transparent;
}

#top img {
    width: 72px;
    height: 72px;
}

#topDiv {
    display: flex;
    justify-content: center;
    margin: 3% 0%;
}
