body {
    margin: 0.5em;
    padding: 0.5em;
}

.imgSlide {
    text-align: center;
}

.dots {
    width: 100%;
}

.devpin {
    width: 150px;
    height: 350px;
    background-color: rgb(230, 230, 230);
    border: 2px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    display: inline-block;
}

.devtitle {
    margin: 0;
    padding: 2px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.devimg {
    width: 150px; 
    height: 150px; 
    margin-top: 2px;
}